.content img{
    width: 100%;
    height: 200px;
}
.descriptionBlock{
    padding: 10px;
}
.descriptionBlock img{
    width: 100px;
    height: 100px;
}
.preloader img {
    width: 100px;
    height: 100px;
}
.mainPhoto{
    max-width: 200px;
}
.contact {
    padding-left: 10px;
}